services:
  - type: web
    name: messaging-app
    env: python
    region: oregon
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      cd backend
      python manage.py collectstatic --noinput
      python manage.py migrate
    startCommand: cd backend && gunicorn config.wsgi:application
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.7
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: "*"
      - key: CORS_ALLOWED_ORIGINS
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: messagingdb
          property: connectionString
databases:
  - name: messagingdb
    databaseName: messagingdb
    region: oregon
    plan: free
